ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(187, 90, 147);
  }
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.imgfond {
    
    margin: 0%;
    display: inline-block;
    background-image: url(Desktop/Développement/Vtrine/img/AnyConv.com__arriere.jpg);
} 